/* .first-color { 
	background: #8ef6e4; 
}
	
.second-color { 
	background: #9896f1; 
}

.third-color { 
	background: #d59bf6; 
}

.fourth-color { 
	background: #edb1f1; 
} */

body {
  background-color: #f0fbf4;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
}
a {
  color: #551a8b;
}
a:hover {
  font-weight: bolder;
  cursor: pointer;
}
.app-container {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  max-width: 500px;
  margin: 30px auto;
  padding: 50px 30px;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgba(208, 228, 251, 0.7);
}

.search-form-input {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border-color: #c5e2fb;
  border-radius: 5px;
  width: 30%;
  padding: 5px 10px;
  font-size: 14px;
}
.search-form-button {
  border-color: #c5e2fb;
  color: #170328;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
.search-form-button:hover {
  cursor: pointer;
  font-weight: bold;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(233, 216, 248) 50.8%,
    rgb(187, 223, 252) 25.8%,
    rgb(216, 218, 247) 25.8%,
    rgb(219, 248, 248) 77.6%,
    rgb(228, 251, 236) 100.7%
  );
}
.line {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}
main {
  padding: 30px 0;
}
.app-data {
  display: flex;
  justify-content: space-between;
}
.app-city {
  margin: 0;
  font-size: 34px;
  line-height: 44px;
  color: #170328;
}
.app-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgba(45, 30, 59, 0.7);
}
span {
  color: #b266b6;
}

strong.humidity,
strong.wind {
  color: #735193;
  font-size: 16px;
  font-weight: 900;
}
.app-temperature {
  display: flex;
}
.app-icon {
  margin-top: 20px;
  font-size: 64px;
}
.app-temperature-value {
  margin-top: 60px;
  font-size: 80px;
  color: #170328;
}
.app-temperature-unit {
  font-size: 64px;
  margin-top: 60px;
  color: #170328;
}
.icon{
  width: 150px;
  height: 150px;
  margin-top: 20px;


}

footer {
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  color: #774ba1;
}
